body {
    background: rgba(170, 170, 170, 0.171);
}

div.container{width:600px; margin:auto;}
header {background: white; padding:10px}
header h1{margin:0;}

div.post {background: white; margin-top:20px; margin-bottom:20px; }
div.post img {width: 100%;}
div.post h2 {float:left; margin:10px;}
div.post span{padding:10px; float:right; margin:8px; color: rgb(201, 198, 198);}



